/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Caslon+Text&display=swap');

/* reset default styles for all elements */
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* base font size to 10px, to facilitate using REM unit */
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* color variables */
  --black-font: #252525;
  --green-lighter: #eaf4f4;
  --green-light: #cce3de;
  --green-medium: #a4c3b2;
  --green-medium-opacity: rgba(164, 195, 178, 0.7);
  --green-dark: #6b9080;
  --green-dark-svg: invert(55%) sepia(19%) saturate(420%) hue-rotate(102deg)
    brightness(93%) contrast(87%);
  --green-darker: #475c53;

  /* font variables */
  --inter: 'Inter', sans-serif;
  --libre: 'Libre Caslon Text', serif;

  /* font weights variables */
  --light-300: 300;
  --regular-400: 400;
  --medium-500: 500;
  --bold-700: 700;

  /* other variables */
  --content-width: 1024px;
}

/* general styles for the body element */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: var(--black-font);
  font-family: var(--inter);
  background-color: var(--green-lighter);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

main {
  padding: 0 2rem;
}

/* page sections */
.history,
.traits,
.care,
.gallery {
  padding-bottom: 80px;
  color: var(--green-darker);
}

/* sections titles */
.history__title,
.traits__title,
.care__title,
.gallery__title {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: var(--medium-500);
}

/* navbar */
.navbar {
  width: 100%;
  z-index: 99;
  height: 5rem;
  display: flex;
  padding: 0 2rem;
  position: fixed;
  justify-content: center;
  background-color: var(--green-medium);
}

.navbar__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  font-size: 2.5rem;
  text-decoration: none;
  font-family: var(--libre);
  color: var(--green-darker);
}

.navbar__logo:hover {
  color: var(--green-lighter);
}

/* navbar menu */
.navbar__menu-container {
  right: 0;
  top: 100%;
  width: 30%;
  display: none;
  margin-top: -1px;
  position: absolute;
  padding: 0 0 2rem 0;
  font-weight: var(--light-300);
  background: var(--green-medium-opacity);
}

.navbar__menu-item {
  margin-top: 2rem;
  text-align: center;
  list-style-type: none;
}

.navbar__menu-link {
  font-size: 2rem;
  line-height: 2rem;
  color: var(--green-darker);
}

.navbar__menu-link:hover {
  color: var(--green-lighter);
}

.navbar__toggle-label {
  line-height: 0;
  font-size: 3rem;
  color: var(--green-dark);
}

.navbar__toggle-input {
  display: none;
}

.navbar__toggle-input:checked ~ .navbar__menu-container {
  display: block;
}

/* hero section */
.hero {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

.hero__text-container {
  width: 100%;
  display: flex;
  padding-top: 2rem;
  align-items: center;
  flex-direction: column;
}

.hero__title {
  width: 100%;
  font-size: 5.5rem;
  line-height: 4rem;
  text-align: center;
  font-family: var(--libre);
  color: var(--green-darker);
  font-weight: var(--regular-400);
}

.hero__text {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: var(--light-300);
}

.hero__button {
  width: 26rem;
  height: 4rem;
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  border-radius: 1rem;
  justify-content: center;
  color: var(--green-darker);
  background-color: var(--green-light);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.hero__button:hover {
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
}

.hero__button-span {
  font-size: 1.5rem;
  font-weight: var(--bold-700);
}

.hero__img-container {
  padding-top: 4rem;
  text-align: center;
}

.hero__img {
  width: 100%;
}

/* history section */
.history__text {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-weight: var(--light-300);
}

.history__text:first-of-type {
  margin-bottom: 2rem;
}

/* traits section */
.traits {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.traits__cards-container {
  width: 100%;
  display: flex;
  row-gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.traits__card {
  width: 260px;
  height: 190px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
  background-color: var(--green-light);
  -webkit-transition: 0.3s ease-in-out;
  transition: box-shadow 0.2s cubic-bezier(0.645, 0.45, 0.355, 1);
}

.traits__card:hover {
  box-shadow: 16px 16px 20px -4px rgba(0, 0, 0, 0.2);
}

.traits__card:last-of-type {
  margin-bottom: 0;
}

.traits__card-title {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: var(--bold-700);
}

.traits__card-text {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-weight: var(--light-300);
}

/* care section */
.care {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.care__container {
  width: 300px;
  margin-bottom: 3rem;
}

.care__container:last-of-type {
  margin-bottom: 0;
}

.care__icon {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  color: var(--green-dark);
  filter: var(--green-dark-svg);
}

.care__text {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-weight: var(--light-300);
}

/* gallery section */
.gallery__img-container {
  width: 100%;
}

.gallery__img {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 2rem;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.gallery__img:hover {
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
}

/* footer section */
.footer {
  width: 100%;
  height: 220px;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--green-lighter);
  background-color: var(--green-darker);
}

.footer__cats-container {
  height: 0;
  width: 90%;
  text-align: right;
  position: absolute;
}

.footer__cat-img {
  height: 10rem;
  position: relative;
}

.footer__cat-img:first-of-type {
  right: 0.5rem;
  bottom: 11.5rem;
}

.footer__cat-img:last-of-type {
  bottom: 8rem;
  height: 13rem;
}

.footer__content-container {
  width: 100%;
  color: var(--green-lighter);
}

.footer__title {
  font-size: 4.2rem;
  text-decoration: none;
  padding-bottom: 1.5rem;
  font-family: var(--libre);
  color: var(--green-lighter);
  font-weight: var(--regular-400);
}

.footer__newsletter-label {
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}

.footer__newsletter-form {
  display: flex;
  align-items: center;
}

.footer__newsletter-input {
  border: none;
  height: 3rem;
  width: 22rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding-bottom: 0.1rem;
  color: var(--green-dark);
  font-family: var(--inter);
  font-weight: var(--regular-400);
}

.footer__newsletter-input::placeholder {
  color: var(--green-darker);
  font-family: var(--inter);
  font-weight: var(--regular-400);
}

.footer__newsletter-input:focus {
  outline: none;
  border: 2px solid var(--green-medium);
}

.footer__newsletter-button {
  width: 10rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  margin-left: 1rem;
  border-radius: 1rem;
  color: var(--green-darker);
  font-family: var(--inter);
  background-color: var(--green-light);
}

.footer__newsletter-button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.footer__social-links {
  width: 15rem;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.footer__social-icon {
  width: 2.8rem;
  height: 2.8rem;
}

.footer__social-icon:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.footer__developer-container {
  width: 100%;
  text-align: right;
  margin-top: 1.8rem;
}

.footer__developer-text {
  font-size: 1rem;
}

.footer__developer-link {
  font-size: 1rem;
  color: var(--green-lighter);
  text-decoration: underline;
}

.footer__developer-link:hover {
  color: var(--green-light);
}

/* tablet screen size (iPad Mini) */
@media screen and (min-width: 768px) {
  .history__title,
  .traits__title,
  .care__title,
  .gallery__title {
    margin-bottom: 2.5rem;
  }

  /* navbar menu */
  .navbar__menu-container {
    top: unset;
    width: unset;
    margin-top: 0;
    display: block;
    padding: unset;
    position: relative;
    padding-right: 1rem;
  }

  .navbar__menu {
    display: flex;
  }

  .navbar__menu-item {
    margin-top: unset;
    padding-left: 2rem;
  }

  .navbar__toggle-label {
    display: none;
  }

  /* hero section */
  .hero__text-container {
    padding-top: unset;
  }

  .hero__title {
    width: 100%;
    margin-top: 2rem;
  }

  .hero__text {
    width: 50rem;
    margin-bottom: 1.5rem;
  }

  .hero__img {
    width: 90%;
  }

  /* history section */
  .history {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .history__text {
    width: 90%;
  }

  /* traits section */
  .traits__cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* care section */
  .care__container {
    width: 510px;
  }

  /* gallery section */
  .gallery__img-container {
    column-count: 2;
    column-gap: 2rem;
  }

  /* footer section */
  .footer {
    justify-content: space-between;
  }

  .footer__content-container {
    width: 100%;
    display: flex;
    margin-top: 5rem;
    align-items: flex-end;
    justify-content: space-between;
  }

  .footer__title {
    padding: 0;
    width: max-content;
    line-height: 3.6rem;
  }

  .footer__newsletter-form {
    margin-top: 1rem;
  }

  .footer__newsletter-input {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer__social-links {
    width: 140px;
  }
}

/* medium screen size */
@media screen and (min-width: 992px) {
  .history__title,
  .traits__title,
  .care__title,
  .gallery__title {
    font-size: 3.5rem;
  }

  /* navbar  */
  .navbar {
    height: 70px;
  }

  .navbar__container {
    margin: auto;
    max-width: var(--content-width);
  }

  .navbar__logo {
    font-size: 3.2rem;
  }

  /* navbar menu */
  .navbar__menu-container {
    padding-right: 0;
  }

  /* hero section */
  .hero {
    margin: auto;
    flex-direction: row;
    max-width: var(--content-width);
  }

  .hero__text-container {
    width: 45%;
    padding-left: 0;
    align-items: flex-start;
  }

  .hero__title {
    text-align: left;
  }

  .hero__text {
    width: 95%;
    text-align: left;
  }

  /* history section */
  .history {
    margin: auto;
    max-width: var(--content-width);
  }

  .history__text {
    width: 100%;
    line-height: 2.5rem;
  }

  /* traits section */
  .traits {
    margin: auto;
    max-width: var(--content-width);
  }

  .traits__cards-container {
    display: grid;
    row-gap: 20px;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
  }

  .traits__cards-container > :nth-child(1) {
    grid-column: 1 / 3;
  }

  .traits__cards-container > :nth-child(2) {
    grid-column: 3 / 5;
  }

  .traits__cards-container > :nth-child(3) {
    grid-column: 5 / 7;
  }

  .traits__cards-container > :nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .traits__cards-container > :nth-child(5) {
    grid-column: 4 / 6;
    grid-row: 2;
  }

  .traits__cards-container > :nth-child(6) {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .traits__cards-container > :nth-child(7) {
    grid-column: 3 / 5;
  }

  .traits__cards-container > :nth-child(8) {
    grid-column: 5 / 7;
  }

  .traits__card {
    margin: 0;
  }

  /* care section */
  .care {
    margin: auto;
    max-width: var(--content-width);
  }

  /* gallery section */
  #gallery {
    margin: auto;
    max-width: var(--content-width);
  }

  /* footer section */
  .footer__cats-container {
    max-width: var(--content-width);
  }

  .footer__content-container {
    margin: auto;
    max-width: var(--content-width);
  }

  .footer__social-links {
    width: 150px;
  }

  .footer__developer-container {
    width: var(--content-width);
  }
}
